@import url('https://fonts.googleapis.com/css?family=Kanit:400,500i&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//variables
$heading-color: #ffffff;
$paragraph-color: white;
$heading-font: Arial;
$para-font: 'Kanit', sans-serif;
$heading-size: 40px;
$heading-padding: 60px 0px 80px 0px;

body {
    overflow-x: hidden;
    max-width: 100vw;
    position: absolute;
    background: black;
}

.home-page {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 10vw;
        top: 10vh;
        z-index: 3;
        height: 25px;
        width: 20px;

        hr {
            height: 4px;
            width: 95%;
            border: 1px solid brown;
            background: brown;
        }

        :nth-child(2) {
            transition-duration:400ms;
            transition-property:transform;
            transition-timing-function:ease-in;
            width: 130%;
        }
    }

    .toggle-body {
        position:absolute;
        top:0;
        left:0;
        background-color: rgba(0,0,0,0.97);
        animation-name: toggleAnimation;
        animation-duration: 400ms;
        animation-timing-function: ease-out;
        width: 100vw;
        height: 100vh;
        padding: 15vh 10vh;
        z-index: 2;

        .toggle-list {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: white;
                    font-family: Arial;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }

    header {
        margin:30vh 0vw;
        .heading-svg{
            position: absolute;
            top:15vh;
            left:0vw;
            width:70vw;
            height:80px;
            margin-left:15%;
            animation:fill-color 2s ease-in forwards 2.9s;
            path:nth-child(1){
                stroke-dasharray:408.1384582519531 ;
                stroke-dashoffset:408.1384582519531 ;
                animation: stroke-anim 1s ease-in forwards;
            }
            path:nth-child(2){
                stroke-dasharray:440.6800231933594 ;
                stroke-dashoffset:440.6800231933594 ;
                animation: stroke-anim 1s ease-in forwards 0.3s;
            }
            path:nth-child(3){
                stroke-dasharray:491.6194763183594 ;
                stroke-dashoffset: 491.6194763183594;
                animation: stroke-anim 1s ease-in forwards 0.6s;
            }
            path:nth-child(4){
                stroke-dasharray: 328.3819885253906;
                stroke-dashoffset:328.3819885253906 ;
                animation: stroke-anim 1s ease-in forwards 0.9s;
            }
            path:nth-child(5){
                stroke-dasharray:500.09808349609375 ;
                stroke-dashoffset: 500.09808349609375;
                animation: stroke-anim 1s ease-in forwards 1.2s;
            }
            path:nth-child(6){
                stroke-dasharray:440.6799621582031 ;
                stroke-dashoffset:440.6799621582031 ;
                animation: stroke-anim 1s ease-in forwards 1.5s;
            }
            path:nth-child(7){
                stroke-dasharray: 600.5836181640625;
                stroke-dashoffset: 600.5836181640625;
                animation: stroke-anim 1s ease-in forwards 1.8s ;
            }
            path:nth-child(8){
                stroke-dasharray:476.51953125 ;
                stroke-dashoffset:476.51953125 ;
                animation: stroke-anim 1s ease-in forwards 2.1s;
            }
            path:nth-child(9){
                stroke-dasharray:440.68212890625 ;
                stroke-dashoffset:440.68212890625 ;
                animation: stroke-anim 1s ease-in forwards 2.4s;
            }
            path:nth-child(10){
                stroke-dasharray:500.0986328125 ;
                stroke-dashoffset:500.0986328125 ;
                animation: stroke-anim 1s ease-in forwards 2.7s;
            }
        }
        h2 {
            width:70vw;
            color: $heading-color;
            text-align: right;
            margin:5vh 30px 0px 10%;
            margin-top: 5vh;
            margin-right: 30px; //vary
            font-family: $heading-font;
            font-size: 15px; //vary
            font-weight: bold;
            letter-spacing: 5px;
        }
    }
    @keyframes fill-color {
        0%{
            fill:transparent;
        }
        100%{
            fill:white;
        }
    }
    @keyframes stroke-anim{
     to{
         stroke-dashoffset: 0;
     }
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        filter: blur(2px);
        filter: brightness(50%);
        z-index: -1;
    }

    main {
        padding: 0 0 50px 0;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            text-shadow: 5px 5px 3px black;
            font-style: italic;
            letter-spacing: 3px;
            font-family: $para-font;
            line-height: 23px;
            font-size: 16px;
            line-height: 28px;
            color: $paragraph-color;
            margin-left: 10vw;
        }

        .homepage-contact {
            width:100vw;
            padding:8px 0px;
            z-index:5;
            background:rgba(0,0,0,0.96) ;
            border-top:0.5px solid black;
            box-shadow:0 0 3px 5px black;
            position:fixed;
            bottom:0px;
            left:0;
            .homepage-phone {
                display: flex;
                margin-left: 5vw;
                margin-bottom: 15px;
                letter-spacing: 2px;

                .phone-icon {
                    margin-right: 10px;
                }

                .phone-num {
                    a {
                        font-size: 11px;
                        text-decoration: none;
                        color: $paragraph-color;
                    }
                }
                
            }

            .homepage-location {
                display: flex;
                margin-left: 5vw;
                margin-bottom: 15px;
                letter-spacing: 2px;

                .location-icon {
                    margin-right: 10px;
                }

                .location-text {
                    a {
                        font-size: 11px;
                        text-decoration: none;
                        color: $paragraph-color;
                    }
                }
            }

            .homepage-email {
                display: flex;
                margin-left: 5vw;
                letter-spacing: 2px;

                .email-icon {
                    margin-right: 10px;
                }

                .email-id {
                    a {
                        font-size: 11px;
                        text-decoration: none;
                        color: $paragraph-color;
                    }
                }
            }
            
        }
        
    }
}


.display-none {
    display: none;
}

.rotate {
    transform: rotateZ(-230deg);
}

@keyframes toggleAnimation {
    0% {
        transform: translate(100vw,0)
    }

    100% {
        transform: translate(0,0)
    }
}

.about-page {
    position: relative;
    padding: 40px 0 30px 0;
    min-height: 100vh;

    h2 {
        color: $heading-color;
        font-family: $heading-font;
        font-size: $heading-size;
        text-align: center;
        padding: $heading-padding;
    }

    .about-cols {
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;

        p {
            padding: 5vw;
            color: $paragraph-color;
            font-family: $para-font;
            font-size: 16px; //vary
            line-height: 25px; //vary
            letter-spacing: 2px;
            width: 70vw;
            margin: 20px 0 20px 0; //vary
            font-style: italic;
        }
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(2px) brightness(15%);
        height: 100%;
        width: 100vw;
        z-index: -1;
    }
}

.services-page {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding: 40px 0 30px 0;

    h2 {
        color: $heading-color;
        font-family: $heading-font;
        font-size: $heading-size;
        text-align: center;
        padding: $heading-padding;
    }

    .services-list {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10vw;
        padding: 0 0 50px 0;

        ul {
            line-height: 40px;

            li {
                letter-spacing: 2px;
                font-size: 16px; //vary
                font-style: italic;
                font-family: $para-font;
                color: $paragraph-color;
                font-family: $para-font;
                list-style: none;
            }

            
        }
    }

    

    .background {
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(2px) brightness(15%);
        height: 100%;
        width: 100vw;
        z-index: -1;
    }
}

.invitation-page {
    position: relative;
    min-height: 100vh;
    padding: 40px 0 0 0;

    h2 {
        color: $heading-color;
        font-family: $heading-font;
        font-size: $heading-size;
        text-align: center;
        padding: $heading-padding;
    }

    p {
        margin: 40px 10vw; //vary
        color: $paragraph-color;
        font-family: $para-font;
        line-height: 25px; //vary
        letter-spacing: 2px;
        font-size: 16px; //vary
        br {
            display: block;
            content: "";
            margin: 30px 0 0 0;
        }
    }
    .form{
        margin-left:2.5%;
        height:750px;
        width:95vw;
        
    }
    

    .building-png {
   margin:auto;
        margin-bottom:50px;
        width: 100vw;
    }

    

    .background {
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(2px) brightness(30%);
        height: 100%;
        width: 100vw;
        z-index: -1;
    }
}

@media only screen and (max-height:750px) {
    .home-page {
        main {
            p {
                font-size: 13px;
            }

            .homepage-contact {
                .homepage-phone {
                    margin-bottom: -2px;
                }

                

                .homepage-location {
                    margin-bottom: -2px;
                }

                
            }
        }
    }
}

@media only screen and (min-width:1000px) {
    .home-page {
        main{
            .homepage-contact{
                width:100vw;
                display:flex;
                justify-content:space-around;
                align-items:center;
                .homepage-phone{
                    margin-left:20px;
                    .phone-num{
                        a{
                            font-size:14px;
                        }
                    }
                }
                .homepage-location{
                    margin-left:20px;
                    .location-text{
                        a{
                            font-size:14px;
                        }
                    }
                }
                .homepage-email{
                    margin-left:20px;
                    margin-right:20px;
                    .email-id{
                        a{
                            font-size:14px;
                        }
                    }
                }
            }
        }
        header {
            h1 {
                margin-left: 30vw; //vary
                padding-top: 15vh;
                font-family: $heading-font;
                font-size: 70px; // vary
                font-weight: bold;
            }

 

            h2 {
                text-align: left; //vary
                margin-left: 50vw; //vary
                font-size: 20px; //vary
                font-weight: bold;
                font-style: italic;
                letter-spacing: 5px;
            }
        }
    }

    .about-page {
        .about-cols {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            p {
                min-height: 50vh;
                font-size: 20px;
                line-height: 35px;
            }
        }
    }

    .services-page {
        .services-list {
            ul {
                li {
                    font-size: 25px;
                }
            }
        }

        
    }

    .invitation-page {
        p {
            font-size: 25px;
            line-height: 35px;
        }

        

        .building-png {
            max-width: 40vw;
            margin: 15px 0 70px 10vw;
            filter: opacity(0.5);
        }
    }
}
